.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color:   #f2f2f2;
  position:relative;
  display:flex;
  
  
}

.logo
{
 
}
.logo_place_header
{
  position:absolute;

  width:183px;
  height:32px;
  margin-top:30px;
  margin-left:64px;

}




.header__title
{
  font-size: 120px;
  line-height: 96px;
  width: 730px;
  align-self:center;
  margin-left: 64px;
  font-weight: bold;
  z-index: 2;
  

  
}

.header_subtitle-link
{
  color:#2f80ed;
}

.main-illustration
{
  height:608px;
  width: 765px;
  right: 0;
  bottom:0;
  position:absolute;
  
  
}

.header_subtitle
{
 line-height: 25px;
 font-size: 18px;
 font-weight: normal;
 width:388px;
 left: 64px;
 bottom: 30px;
 position: absolute;
 text-decoration: none;
 

}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top:64px;
}


.description
{
  margin-top: 100px;
  margin-bottom:0;

 
}

.two-columns
{
  display:flex;

  justify-content: space-between;
  width:80%;
  margin:auto;


}

.two-columns_brief
{
  color:#2f80ed;
  width:175px;
  line-height: 1.2;
  font-size: 18px;

}

p
{
  margin:0;
}

.main-text
{

  min-width:784px;
  width:80%;
  line-height: 34px;
  font-size: 24px;
  margin-bottom: 100px;
}

.two-columns_paragraph
{
  min-width:784px;
  width:80%;
  
    
}

.span-bolded
{
  font-weight: bold;
}

.two-columns_paragraph_span
{
    
  
  margin-top:30px;
  margin-bottom:30px;
  
}



.digits
{

  display: flex;
  flex-direction: column;

}


.section-title
{

  margin-left: auto;
  margin-right: auto;
  line-height: 1.15;
  font-weight: bold;
  width: 60%;
  display: flex;
  
  
  
}

.section-title__header{
  
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 60px;

}

.section-subtitle
{
  width:60%;
  margin:auto;
  display: flex;
}



.section-subtitle__header{
  padding-top: 20px;
  margin: auto;

}

.table
{
  width:1100px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;


  margin-bottom: 0;
  
}

.table-cell
{
  width:250px;
  margin-top: 60px;
  
}


.table-cell_heading
{
  line-height: 1.15;
  font-size: 24px;
  margin-bottom: 20px;
  
}

.table-cell_text
{
  line-height: 1.2;
  font-size: 18px;
  margin-bottom: 20px;

}


.table-cell_subtext
{
  padding-bottom: 0;
}




.feynman
{  
  
  padding-bottom: 100px;
  min-height: 790px;
  justify-content: center;
  background-image: url("../images/feynman.png");
  background-repeat:no-repeat;
  background-position: left bottom;
  background-color: #f2f2f2;
  background-size: 867px 637px;
  position:relative;
  
}

.feynman-title
{
  padding-top: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 120px;
  line-height: 1.15;
  width:648px;

}


.feynman-subtitle
{
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  margin-top: 70px;
}


 .feynman-link
 {

  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight:normal;
  right: 48px;
  bottom:50%;
 }
 
 .feynman-link_color
 {
  color:#2f80ed;
 }




 /* и элемента с модификатором вида ключ-значение */


 .section-title_theme_dark {
  width: 60%;
  color: white;
  padding-top: 90px;

    }

 .section-subtitle_theme_dark {
  width: 60%;
  color: white;
  padding-top: 20px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}


.kaufman {
  background-color: #1f1f1f;
  padding-bottom: 90px;
  background-image: url("../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  overflow:hidden;
  background-position: top 0px right -210px;
  background-size: 877px 877px;
}


.footer
{
 
  min-height: 350px;
  background-color: #1f1f1f;

  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  flex-basis:711px;
}

.logo_place_footer
{
 background-size: 183px 35px;
 padding:150px;
 background-repeat: no-repeat;
  background-image: url("../images/logo_place_footer.svg");
}
.footer__columns
{
  width: 90%;

  margin-top: 150px;
  color:white;
  margin-left: 30px;
  display:flex;
  justify-content: space-between;
  
}

.footer__column
{

  
  
  
}

.footer__author
{

  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
}


.footer__column-heading
{
  line-height: 30px;
  font-size: 18px;
  padding-bottom: 20px;
  font-weight: bold;
}


.footer__column-links
{
  font-size: 18px;
  line-height: 30px;
}


.footer__column-link

{
  line-height: 30px;
  display:flex;
  text-decoration: none;
  color: white;

  padding-right: 10px;
}



.footer__column_content-social
{
  display: block;
}



.images-padding_footer
{
padding-right: 10px;
}