.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color:   #f2f2f2;
  
}


.header_logo
{
  height:32px;
  width:183px;
  padding-top:30px;
  padding-left:64px;

}

.middle-page
{
  display:flex;
  
}

.header_title
{
  font-size: 120px;
  line-height: 96px;
  width: 730px;
  padding-left: 64px;
  font-weight: bold;
  align-self: center;
  z-index: 2;
  
}


.main-illustration
{
  height:608px;
  width: 765px;
  right: 0;
  bottom:0;
  position:absolute;
  
}

.header_subtitle
{
 line-height: 25px;
 font-size: 18px;
 width:388px;
 left: 64px;
 bottom: 30px;
 position: absolute;
 text-decoration: none;

}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top:64px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.description
{
  margin-top: 100px;
  margin-bottom:100px;

 
}

.two-columns
{
  display:flex;

  justify-content: space-between;
  width:80%;  margin:auto;  


}

.two-columns_brief
{
  color:#2f80ed ;
  width:175px;
  line-height: 1.2;
  font-size: 18px;

}

p
{
  margin:0;
}

.main-text
{

  min-width:784px;
  width:80%;
  line-height: 34px;
  font-size: 24px;
  

 
}

.two-columns_paragraph
{
  min-width:784px;
  width:80%;
    
}

.span-bolded
{
  font-weight: bold;
}

.two-columns_paragraph_span
{
    

  margin-top:30px;
  margin-bottom:30px;
}



.digits
{
  display: flex;
  flex-direction: column;
}


.digits-title
{
  margin: auto;
  margin-top: 100px;
  line-height: 1.15;
 
  font-weight: bold;
  width: 60%;
  display: flex;
  
  
}

.digits-title_header{
  margin: auto;

}

.digits-subtitle
{
  width:60%;
  margin:auto;
  display: flex;
}



.digits-subtitle_header{
  padding-top: 20px;
  margin: auto;

}

.table
{
  width:1100px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  padding-bottom: 0;
  
}

.table-cell
{
  width:250px;
  margin-top: 60px;
  
}


.table-cell_heading
{
  line-height: 1.15;
  font-size: 24px;
  margin-bottom: 20px;
  
}

.table-cell_text
{
  line-height: 1.2;
  font-size: 18px;
  margin-bottom: 20px;

}


.table-cell_subtext
{
  padding-bottom: 0;
}

